// Customize Bootstrap with variables.
$primary: #3182ce;
$secondary: #805AD5;
$success: #38A169;

// Then import bootstrap.
@import "../../node_modules/bootstrap/scss/bootstrap";

// Finally, any additional styles.
body {
  background-color: #100b24;
  background: url("/images/starry_bg.webp") no-repeat center center fixed;
  background-size: cover;
}

.navbar.navbar-dark.bg-dark {
  height: 64px;
  background-color: #171923 !important;
  border: 1px solid #050607;
  border-top: none;

  .nav-item {
    margin-left: 1.5rem;
  }
}

.btn.btn-primary,
.btn.btn-primary.btn-lg {
  color: #fff;
}

#play-button-wrapper {
  padding: 24px 0px;
}

#badges {
  a {
    text-decoration: none;
  }
}

#text-content {
  background-color: #ffffff;
  padding: 36px 72px;
  padding-bottom: 56px;
  p {
    font-size: 1.2rem;
    margin-bottom: 16px;
  }
  h2 {
    margin-top: 48px;
    margin-bottom: 36px;
  }
  h5 {
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 16px;
  }
}

#video-wrapper {
  background-color: #000000;
  padding: 8px;
}

#trailer-video {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#trailer-video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

#trailer-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
Used for fixing the position of anchor links in the navbar. Without this,
the heading of each section is hidden above the fold when you click on the link.
*/
[id]::before {
  content: "";
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}
