{{define "main"}}
<div id="video-wrapper">
  <div id="trailer-video">
    <iframe
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/S3jde9WghuA?si=a2KmPnuYVC2HGDkn?color=white&rel=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<div id="text-content">
  {{ partial "badges.html" }}
  <h2 id="about">About</h2>
  {{ partial "about.md" | markdownify }}
  <div id="play-button-wrapper">
    <div id="play-button">
      <a href="https://play.elaragame.com">
        <button type="button" class="btn btn-primary btn-lg d-none d-lg-block">
          Play Now
        </button>
        <button type="button" class="btn btn-primary btn d-lg-none">
          Play Now
        </button>
      </a>
    </div>
  </div>
  <h2 id="faqs">FAQs</h2>
  {{ partial "faqs.md" | markdownify }}
</div>
{{end}}
