<div id="badges">
  <a href="https://github.com/albrow/elara">
    <img
      alt="GitHub"
      src="https://img.shields.io/badge/GitHub-181717?logo=github&logoColor=fff&style=for-the-badge"
    />
  </a>
  <a href="https://github.com/sponsors/albrow">
    <img
      alt="GitHub Sponsors"
      src="https://img.shields.io/badge/GitHub%20Sponsors-EA4AAA?logo=githubsponsors&logoColor=fff&style=for-the-badge"
    />
  </a>
  <a href="https://albrow.itch.io/elara">
    <img
      alt="Itch.io"
      src="https://img.shields.io/badge/Itch.io-FA5C5C?logo=itchdotio&logoColor=fff&style=for-the-badge"
    />
  </a>
</div>
